@mixin emojiBg($n,$i:-32px) {
  .emoji#{$n} {
    background-position: 50% #{$n*$i};
  }
}

.emoji {
  cursor: pointer;
  margin-right: 4px;
  overflow: hidden;
  li {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 5px;
    background-image: url(../img/bg-emoji.png);
    background-size: 32px auto;
    border: 1px solid #fff;
  }
  li:hover{
    border: 1px solid #ccc;
  }
}

.emoji0 {
  background-position: 50% 0;
}

@include emojiBg(1);
@include emojiBg(2);
@include emojiBg(3);
@include emojiBg(4);
@include emojiBg(5);
@include emojiBg(6);
@include emojiBg(7);
@include emojiBg(8);
@include emojiBg(9);
@include emojiBg(10);
@include emojiBg(11);
@include emojiBg(12);
@include emojiBg(13);
@include emojiBg(14);
@include emojiBg(15);