header {
  height: 118px;
  background: url(../img/bg-header.png) repeat;
}

.nav {
  .send {
    display: block;
    width: 120px;
    height: 65px;
    margin: 27px auto 26px;
    background: url(../img/bg-send.png) no-repeat;
  }
}