.wish.a1 {
  dt {
    background: url(../img/a1_1.gif) no-repeat;
  }
  .text {
    background: url(../img/a1_2.gif) repeat-y -2px;
  }
  .bottom {
    background: url(../img/a1_3.gif) no-repeat;
  }
}