.wish.a3 {
  dt {
    background: url(../img/a3_1.gif) no-repeat;
  }
  .text {
    background: url(../img/a3_2.gif) repeat-y -2px;
  }
  .bottom {
    background: url(../img/a3_3.gif) no-repeat;
  }
}