.wish.a5 {
  dt {
    background: url(../img/a5_1.gif) no-repeat;
  }
  .text {
    background: url(../img/a5_2.gif) repeat-y -2px;
  }
  .bottom {
    background: url(../img/a5_3.gif) no-repeat;
  }
}