@mixin paper($n) {
  .wish.a#{$n} {
    dt {
      background: url(../img/a#{$n}_1.gif) no-repeat;
    }
    .text {
      background: url(../img/a#{$n}_2.gif) repeat-y -2px;
    }
    .bottom {
      background: url(../img/a#{$n}_3.gif) no-repeat;
    }
  }
}